.objetivo {
  position: relative;
  background-image: var(--background);
  border-radius: 10px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objetivo img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.pontualidade{
  max-width: 106px;
}

.objetivo::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; 
  height: 100px;
  background: radial-gradient(circle, rgba(255, 0, 255, 0.4), transparent 70%);
  border-radius: 50%;
  z-index: 0;
}

.objetivo .card-content {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.objetivo .card-content i {
  margin-right: 8px;
}

.objetivo h3{
    font-weight: bold;
    text-transform: uppercase;
}

.objetivo p{
    font-size: 12px;
    margin-bottom: 0;
}

.objetivo span{
    color: var(--yellow);
    font-weight: bold;
}

.objetivo .progress-bar{
  background-color: var(--blue);
}

.objetivo .progress{
  height: 20px;
}

.objetivo .level h6{
  margin-top: 0;
}

.conquistas {
  background-image: var(--background);
  border-radius: 8px;
  margin-top: 16px;
  padding: 24px;
}

.conquistas h2 {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 24px;
}


.card-flip {
  perspective: 1000px;
  width: 100%;
  min-height: 160px;
  cursor: pointer;
  height: 100%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.card-front {
  background-color: #ffffff;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #f8f9fa;
  transform: rotateY(180deg);
}

.card-flip.flip .card-inner {
  transform: rotateY(180deg);
}